header{
    height:100vh;
    padding-top: 6rem;
    overflow: hidden;
}
.container{
 width: var(--container-width-bg);
  text-align: center;
  height: 100%;
  position: relative;
}
/* styling header buttons */

.headbtn{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
/* styling header contacts */

.header_contacts{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    bottom: 15rem;
    gap:1rem;
    left:34rem;

}