.experience {
  width: 100%;
  height: auto;
  padding: 5%;
  margin-top: 0.01%;
  
}
.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: auto !important;
  
  
}

.box {
 background-color: #115173;
  border-radius: 15%;
  box-shadow: 8px 12px rgb(212, 203, 203);
  padding: 30px;
}
.box h3{
font-size: 30px;
}

.backend > li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 20px;
  color:aliceblue
}
.frontend > li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 25px;
   color:aliceblue
}
.icon {
  font-size: 35px;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .experience_container {
    grid-template-columns: 1fr;
  }
}
